.wx-8l724t2g.wx-cell {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--wx-background);
  color: var(--wx-color-font);
  position: relative;
  z-index: 2;
}
.wx-8l724t2g.wx-cell .wx-dropdown {
  border: var(--wx-table-editor-dropdown-border);
  box-shadow: var(--wx-table-editor-dropdown-shadow);
}
