.wx-measure-cell-body,
.wx-print-cell,
.wx-cell.wx-TSCaXsGV {
  background: inherit;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wx-print-tree-cell,
.wx-tree-cell.wx-TSCaXsGV {
  display: flex;
}

.wx-measure-cell-body,
.wx-cell.wx-TSCaXsGV:not(:last-child) {
  border-right: var(--wx-table-cell-border);
}
.wx-print-draggable,
.wx-draggable.wx-TSCaXsGV,
.wx-draggable-stub.wx-TSCaXsGV {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.wx-draggable.wx-TSCaXsGV {
  cursor: move;
}

.wx-shadow.wx-cell.wx-TSCaXsGV {
  border-right: var(--wx-table-fixed-column-border);
  clip-path: inset(0px -15px 0px 0px);
  z-index: 1;
}

.wx-fixed-right.wx-shadow.wx-cell.wx-TSCaXsGV {
  border-right: var(--wx-table-cell-border);
  border-left: var(--wx-table-fixed-column-border);
}
.wx-fixed-right.wx-shadow.wx-cell.wx-TSCaXsGV:last-child {
  border-right: none;
}

.wx-print-grid-tree-toggle,
.wx-table-tree-toggle.wx-TSCaXsGV {
  font-size: 20px;
  cursor: pointer;
  margin: 0 4px 0 0;
  display: inline-block;
}

.wx-cell.wx-TSCaXsGV[tabindex='0']:focus {
  outline: 1px solid var(--wx-color-primary);
  outline-offset: -1px;
}

.wx-search.wx-TSCaXsGV {
  background-color: #ffeb3b;
}
