.wx-measure-cell-header,
.wx-print-cell-header,
.wx-cell.wx-RsQD74qC {
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: var(--wx-header-font-weight);
  background: var(--wx-table-header-background);
  line-height: 20px;
}

.wx-cell.wx-RsQD74qC:focus {
  outline: 1px solid var(--wx-color-primary);
  outline-offset: -1px;
}

.wx-print-cell-header {
  display: table-cell;
  position: static;
}

.wx-cell.wx-RsQD74qC.wx-vertical {
  align-items: flex-end;
}

.wx-measure-cell-header,
.wx-cell.wx-RsQD74qC:not(:last-child) {
  border-right: var(--wx-table-header-cell-border);
}

.wx-print-cell-filter.wx-RsQD74qC,
.wx-cell.wx-filter.wx-RsQD74qC {
  padding: 4px;
  z-index: 8;
}

.wx-print-cell-header .wx-text,
.wx-text.wx-RsQD74qC {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wx-print-cell-header.wx-vertical .wx-text,
.wx-vertical.wx-RsQD74qC .wx-text.wx-RsQD74qC {
  height: 100%;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wx-print-cell-header.wx-vertical .wx-text {
  display: block;
}
.wx-cell.wx-shadow.wx-RsQD74qC {
  clip-path: inset(0px -15px 0px 0px);
  border-right: var(--wx-table-fixed-column-border);
}

.wx-cell.wx-fixed-right.wx-shadow.wx-RsQD74qC {
  border-right: var(--wx-table-cell-border);
  border-left: var(--wx-table-fixed-column-border);
}

.wx-cell.wx-fixed-right.wx-cell.wx-RsQD74qC:last-child {
  border-right: none;
}

.wx-shadow.wx-RsQD74qC,
.wx-fixed.wx-RsQD74qC {
  z-index: 7; /* because colspans have z-index: 6 */
}

.wx-shadow.wx-rowspan.wx-RsQD74qC,
.wx-shadow.wx-colspan.wx-RsQD74qC,
.wx-fixed.wx-rowspan.wx-RsQD74qC,
.wx-fixed.wx-colspan.wx-RsQD74qC {
  z-index: 8; /* because fixed columns have z-index: 7 */
}

.wx-grip.wx-RsQD74qC {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4px;
  width: 9px;
  background-color: transparent;
  opacity: 0;
  cursor: ew-resize;
  z-index: 5;
}
.wx-grip.wx-RsQD74qC div {
  margin-left: 5px;
  width: 1px;
  height: 100%;
  background-color: var(--wx-color-primary);
}
.wx-cell.wx-RsQD74qC:last-child .wx-grip.wx-RsQD74qC {
  width: 5px;
  right: 0;
}
.wx-cell.wx-RsQD74qC:last-child .wx-grip.wx-RsQD74qC div {
  margin-left: 4px;
}

.wx-grip.wx-RsQD74qC::before,
.wx-cell.wx-RsQD74qC:not(:last-child) .wx-grip.wx-RsQD74qC::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
}

.wx-grip.wx-RsQD74qC::before {
  border: 3px dashed transparent;
  border-right: 3px solid var(--wx-color-primary);
  right: 7px;
}
.wx-cell.wx-RsQD74qC:last-child .wx-grip.wx-RsQD74qC::before {
  right: 3px;
}

.wx-cell.wx-RsQD74qC:not(:last-child) .wx-grip.wx-RsQD74qC::after {
  border: 3px dashed transparent;
  border-left: 3px solid var(--wx-color-primary);
  left: 9px;
}

.wx-cell.wx-RsQD74qC:has(.wx-grip.wx-RsQD74qC:hover:not(:active)) {
  z-index: 9;
}

.wx-grip.wx-RsQD74qC:hover {
  opacity: 1;
}

.wx-sort.wx-RsQD74qC {
  height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.wx-order.wx-RsQD74qC {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #3498ff;
}

.wx-collapse.wx-RsQD74qC:focus {
  outline: none;
}
.wx-collapse.wx-RsQD74qC:focus i,
.wx-collapse.wx-RsQD74qC:hover i {
  color: var(--wx-color-primary);
}

.wx-rowspan.wx-RsQD74qC,
.wx-colspan.wx-RsQD74qC {
  z-index: 6; /* because resize grips have z-index: 5 */
}

.wx-collapse.wx-RsQD74qC,
.wx-collapsed.wx-RsQD74qC {
  cursor: pointer;
  z-index: 1;
}
.wx-collapsed.wx-RsQD74qC {
  position: relative;
}
.wx-collapse.wx-RsQD74qC i {
  margin-right: 4px;
}

.wx-h-row:not(:last-child) .wx-cell.wx-RsQD74qC:not(.wx-rowspan.wx-RsQD74qC) {
  border-bottom: var(--wx-table-header-cell-border);
}
